<h1> <%= @article.title %> </h1>

<p> <%= @article.body %> </p>

<%= link_to "Editar", edit_article_path(@article) %> 
<%= button_to "Apagar artigo", article_path(@article), method: :delete, data: { confirm: "Você tem certeza?" } %>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>